{%extends './base.html'%}

{%block body%}
<main>
    <section class="sections">
        <div class="half-width">
            <div class="card-blog entry">
                <img src="{{url_for('static', filename='img-learn-tutors/multiplayer-blog-entry-1.png')}}"
                    alt="Imagen en el Centro">
            </div>
        </div>

        <div class="big-width">
            <div class="container-entry">
                <h1 class="principal-letter" id="second-title">
                    Multiplayer or single-player?
                </h1>
                <p>Last week, my husband, an always-at-heart gamer and fanatic of video games, showed me a game called
                    The
                    Sims. For those who live under a rock, as apparently, I do, this game seems pretty simple, but for
                    me it
                    got me thinking about the intrinsic qualities of life. How do we adapt to the environment we live in
                    or
                    find ourselves stalled in an ever-changing world? We live, adapt, grow up, overcome obstacles, fall,
                    and
                    get up. This is how the process of learning also works when there is a need for growth we have to
                    change
                    and that is exactly what has happened in the past few years with education, everyone from children
                    to
                    business people had to adapt to virtuality. </p>
                <p>Needless to say, the opinions were divided in regard to what was better, the lack of interaction made
                    it
                    a lopsided decision when the time came to go back to the classrooms. But in what ways is virtual
                    education better? Despite the blatant fact that we need to socialize to develop our personality and
                    our
                    support network, as well as to create meaningful relationships that might last a lifetime,
                    brick-and-mortar methods have proven to not focus on the individual needs of the student making a
                    classroom full of pupils who strive to fulfill the requirements rather than do the proper learning
                    of
                    things. Just think about it, repetition is the main tool for memorization. What about those who
                    acquire
                    knowledge through experiences, music, and logic or those who feel they could have given more, but
                    learn
                    at a different pace than their peers? Well, that is exactly what I wanted to tackle, different kinds
                    of
                    learning, different needs, and virtuality allow us to create this space where we give you exactly
                    what
                    you need to LEARN. </p>
                <p>Now let’s think about another downside, it was clear to many that spending at least two hours a day
                    commuting, in best-case scenarios, was nonsense when you could use that time wither to catch up on
                    that
                    book you love, spend time with your family or even wasting the time away watching some silly app
                    that
                    releases lots of serotonin into your brain, guilty, definitely. Virtual classrooms don’t take more
                    than
                    the time you allot to the learning process, 1 hour, a couple, but no more than that, a perk in my
                    eyes.
                    No more to say, changes require adaptation and that is what we have done. You don’t need to be in
                    the
                    traffic for endless hours and virtual one-on-one lessons allow you to go at your own pace, playing
                    by
                    your own rules, and in the style of teaching that you prefer. </p>
                <p>Keep this in mind, It is of utmost importance that the educator adapts to you and not the other way
                    around, that is how you will get the most out of your education, in any subject, be constant, and
                    make
                    time for your self-improvement, just like The Sims, a single-player in a virtual environment that
                    gives
                    you the power to create and control your own growing process. </p>
            </div>
        </div>
    </section>
</main>

{%endblock%}