{%extends './base.html'%}

{%block body%}
<main>
    <section class="sections">
        <div class="half-width">
            <div class="card-blog entry">
                <img src="{{url_for('static', filename='img-learn-tutors/Os-tropeços-da(s)-língua(s)-BLOG-PT2.png')}}"
                    alt="Imagen en el Centro">
            </div>
        </div>

        <div class="big-width">
            <div class="container-entry">
                <h1 class="principal-letter" id="second-title">
                    Os tropeços da língua
                </h1>
                <p>Se você está lendo este texto, é muito provável que me entenda quando digo que aprender um novo
                    idioma é, no mínimo, um desafio. Mas nem todo desafio precisa ser uma situação rígida e tensa - e
                    não tem nada como um erro engraçado quando estamos cercados por amigos. Arrisco dizer que podemos
                    considerar que falar outro idioma é como aprender a andar de bicicleta: no início, frustrante pra
                    caramba e, eventualmente, libertador.</p>
                <p>Trazendo a conversa pra minha vida pessoal, lhes conto uma das muitas histórias de um “tropeço” pelo
                    caminho: Em 2023, como estudante-atleta, busquei um espaço onde pudesse praticar judô como recém
                    chegada na Colômbia. Para o primeiro treino, deveria praticar com um companheiro e, como novata,
                    tinha direito a receber dicas da treinadora.</p>
                <p>“Ponga atención, él es zurdo”. Agora, aí está o problema. Meu singelo vocabulário não continha muitas
                    palavras e, ao escutar “zurdo”, associei a “surdo”, ou seja, quem possui uma deficiência auditiva.
                    Claro, passei toda minha breve interação com meu colega de treino sem dizer uma palavra. Agora,
                    imagine minha surpresa ao escutá-lo tendo uma conversa em um tom perfeitamente normal poucos minutos
                    depois.</p>
                <p>Muito além de uma boa piada interna, tomei a situação como um sinal de que, por mais similar que
                    seja, o espanhol é outro universo linguístico e nem tudo é o que parece. Pode ser que você ainda não
                    tenha tropeçado em um erro engraçado, mas esse momento chega pra todos, fique tranquilo. Quando for
                    a sua hora, lembre-se que nem todo desafio precisa ser tortuoso e nem todo tropeço precisa machucar!
                </p>
                <p>Para ajudar, cerque-se de livros, filmes, músicas, abrace a cultura que as novas palavras carregam.
                    Aproveite esse novo universo como um quadro branco e se defina com novos adjetivos, expresse novos
                    sentimentos e aprecie o processo de se construir com novas palavras. Para te ajudar, aqui estão
                    alguns sites interessantes para conectar-se ao português brasileiro:
                </p>

                <p><a href="https://open.spotify.com/playlist/1EyBdeEsGhoBu8tRrSH6ii" target="_blank">https://open.spotify.com/playlist/1EyBdeEsGhoBu8tRrSH6ii</a></p>
                <p><a href="https://www.youtube.com/watch?v=lARFBFxjLNI" target="_blank">https://www.youtube.com/watch?v=lARFBFxjLNI</a></p>
                <p><a href="https://pt.wikipedia.org/wiki/Can%C3%A7%C3%A3o_do_Ex%C3%ADlio" target="_blank">https://pt.wikipedia.org/wiki/Can%C3%A7%C3%A3o_do_Ex%C3%ADlio</a></p>

                <h4>ESL LEARNers' Word Challenge:</h4>
                <p>Vamos praticar o vocabulário? Volte no texto e procure as palavras listadas abaixo. Tente entender
                    sua definição pelo contexto e volte para conferir a resposta.</p>
                <p>
                <ul>
                    <li><strong>Singelo -></strong> Adjetivo para definir algo simples;</li>
                    <li><strong>Piada -></strong> Substantivo que descreve um texto, frase, assunto que leva ao riso;</li>
                    <li><strong>Tropeço -></strong> Substantivo que indica tropeçar, ou seja, dar de encontro com algo imprevisto no
                        caminho</li>
                </ul>
                </p>
            </div>
        </div>
    </section>
</main>

{%endblock%}