{%extends './base.html'%}

{%block body%}
<main>
    <section class="sections">
        <div class="half-width">
            <div class="card-blog entry">
                <img src="{{url_for('static', filename='img-learn-tutors/Quem-somos-para-o-mundo-BLOG-PT2.png')}}"
                    alt="Imagen en el Centro">
            </div>
        </div>

        <div class="big-width">
            <div class="container-entry">
                <h1 class="principal-letter" id="second-title">
                    Quem somos para o mundo?
                </h1>
                <p>Quando pensamos em latinos, há uma imagem clássica, quase estereotipada. Geralmente, essa pessoa,
                    esse ser construído pelo popular é uma pessoa feliz, trabalhadora e, quase sempre, hispanohablante.
                    Hoje, vamos falar sobre os perigos dos estereótipos. Antes de começarmos, te convido a refletir:
                    você já se viu afetado por algum estereótipo? Acredita em algum rótulo?</p>
                <p>A escritora nigeriana Chimamanda Ngozi Adichie, disse que “A história sozinha cria estereótipos, e o
                    problema com estereótipos é que não é que eles não são verdadeiros, mas que eles são incompletos.
                    Eles fazem uma história se tornar a única história.” Mas o que ela quis dizer com isso? Ora, os
                    rótulos criam uma névoa que pode nos privar de muitas experiências.</p>
                <p>Me lembro de estar esperando meu voo para a Colômbia e encontrar uma simpática senhora cubana no
                    aeroporto de Boston, MA. Conversamos em um perfeito espanhol e lhe pedi que adivinhasse de qual país
                    sou. Primeiro, Venezuela e depois, Colômbia. Lhe contando que havia errado em ambas as tentativas,
                    aproveitei para dizer que sou brasileira.</p>
                <p>“Que engraçado, achei que todos brasileiros tivessem um cabelo afro e a pele mais escura.”</p>
                <p>A ideia me pareceu um absurdo, como alguém poderia resumir todo um país a uma aparência? Mas, o quão
                    diferente fazemos ao imaginar qualquer nacionalidade sem conhecer sua cultura? Corremos o risco de
                    sucumbir a um imaginário moldado por uma mídia que é, quase sempre, rasa. Muito além disso, corremos
                    o risco de não gostar dessa imagem e nunca conhecer realmente a verdade.</p>
                <p>Assim, passei o resto daquele dia refletindo sobre quais rótulos havia colocado sobre os colombianos
                    antes de chegar ao país e quais, 10 meses depois, já sabia que passavam longe da verdade. Acontece
                    que, nem todos os colombianos gostam de café (como nem todo brasileiro gosta de futebol!) e que, na
                    verdade, jovens escutam muito mais músicas em espanhol do que meus amigos brasileiros escutam em
                    português.</p>
                <p>Talvez essa diferença exista pela barreira idiomática que separa o Brasil, mas o quão unida é o resto
                    da América Latina? Quando pensamos em argentinos e mexicanos, quais rótulos colocamos em ambos? O
                    que une os venezuelanos aos paraguaios e os uruguaios aos colombianos? Pra você, que lê esse texto,
                    gostaria de deixar a seguinte reflexão: O que te une aos brasileiros? E o que une você aos outros
                    países hispanohablantes? Seriam esses laços criações midiáticas ou verdades?</p>
                <h4>ESL LEARNers' Word Challenge:</h4>
                <p>Vamos praticar o vocabulário? Volte no texto e procure as palavras listadas abaixo. Tente entender
                    sua definição pelo contexto e volte para conferir a resposta.</p>
                <p>
                <ul>
                    <li><strong>Midiática -></strong> Substantivo que indica algo próprio da mídia;
                        A noun indicating something related to the media.
                    </li>
                    <li><strong>Longe -></strong> Adjetivo que sugere uma distância grande em relação a algo;
                        An adjective suggesting a large distance in relation to something.
                    </li>
                    <li><strong>Névoa -></strong> Substantivo que descreve a formação de um vapor aquoso em lugares úmidos, impedindo a
                        visualização a longa distância
                        A noun that describes the formation of a watery vapor in humid places, preventing long-distance
                        visibility.
                    </li>
                </ul>
                </p>

            </div>
        </div>
    </section>
</main>

{%endblock%}