{%extends './base.html'%}

{%block body%}
<main>
    <section class="sections">
        <div class="half-width">
            <div class="card-blog entry">
                <img src="{{url_for('static', filename='img-learn-tutors/ted-talk-blog.png')}}"
                    alt="Imagen en el Centro">
            </div>
        </div>

        <div class="big-width">
            <div class="container-entry">
                <h1 class="principal-letter" id="second-title">
                    Lifelong Learners
                </h1>
                <p>Recently I was teaching a literature class and one of the assignments was about a TedTalk video.
                    Whether you are an ESL student or an English student, TedTalks will cross your way quite often,
                    mostly because they are filled with outstanding, awe-striking stories about any subject you can
                    think of. I use them in my lessons and I suggest you do too.</p>

                <p>Going back on track, the central question of the course was “What does it mean to be a Lifelong
                    Learner” It actually made me think about how a lifelong learner is the perfect description of an
                    educator. We are constantly seeking more knowledge not just to be better than our students, but also
                    because I do not know a single educator who is not curious by nature, most of us, bookworms for
                    sure, but also polyglots, researchers, and entrepreneurs. We are a dangerous breed for modern
                    educational systems in which the governments ought to keep you in line with the needs of society,
                    thinkers are revolts, and revolts bring change. Wow, I guess I have watched Matilda the Musical way
                    too many times, by the way, I’m talking about it in my next post. </p>

                <p>In this way, the speaker states, "Education is not about filling buckets; it is lighting fires." To
                    paraphrase the quote, education is about more than cramming facts into students' heads; it's about
                    igniting a passion for knowledge. Hence, the questions you should ask when trying to find a tutor
                    are:</p>

                <p>
                <ul>
                    <li>I encouraged to LEARN?</li>
                    <li>Am I having fun while learning?</li>
                    <li>Has my sparkle for curiosity ignited?</li>
                </ul>
                </p>

                <p></p>Anyhow, here’s the Ted Talk, take a look:</p>

                <p><a href="https://www.youtube.com/watch?v=nq0_zGzSc8g&ab_channel=TED"
                        target="_blank">https://www.youtube.com/watch?v=nq0_zGzSc8g&ab_channel=TED</a></p>

                <p>Also, here’s some useful vocabulary → </p>

                <p>
                <ul>
                    <li>Bumbling around → Comportarse de forma despistada y desorganizada, cometiendo errores y, por lo
                        general, sin conseguir nada.</li>
                    <li>Bumping into → encontrarse por casualidad o inesperadamente</li>
                    <li>Figure out → resolver un problema o descubrir la respuesta a una pregunta.</li>
                    <li>Reliable → de confianza</li>
                    <li>Farting around → perder el tiempo: pasar el tiempo haciendo actividades que no tienen ningún
                        propósito serio.</li>
                    <li>Exhilarating → Emocionante</li>
                    <li>Collect data and facts → (false cognate) esta palabra es fácilmente confundida con coleccionar,
                        pero
                        en realidad significa recopilar o recoger.</li>
                    <li>excel at → ser superior de alguna forma; superar en logros o resultados.</li>
                </ul>
                </p>
            </div>
        </div>
    </section>
</main>

{%endblock%}