{%extends './base.html'%}

{%block body%}
<main>
    <section class="sections">
        <div class="small-width">
            <div class="images">
                <img id="image43" src="{{url_for('static', filename='img-learn-tutors/43.png')}}" alt="">
            </div>
        </div>

        <div class="small-width">
            <h1 class="principal-letter" id="second-title" data-section="body" data-value="contact-title">CONTACTO</h1>
            <div class="line-container1">
                <p class="text-line" id="contact-client-service" data-section="body"
                    data-value="contact-client-service">SERVICIO AL CLIENTE</p>
                <p class="text-line contact">INFO@LEARN-TUTORS.COM</p>
                <p class="text-line" id="contact-partnerships" data-section="body" data-value="contact-partnerships">
                    PROPUESTAS Y ALIANZAS</p>
                <p class="text-line contact">GERENCIA@LEARN-TUTORS.COM</p>
            </div>

            <figure class="social-image">
                <a href="https://www.linkedin.com/company/tutorias-learn/" target="_blank">
                    <img src="{{url_for('static', filename='img-learn-tutors/Linkedin.png')}}" alt="Linkedin">
                </a>
                <a href="https://wa.me/573208324078" target="_blank">
                    <img src="{{url_for('static', filename='img-learn-tutors/Whatsapp.png')}}" alt="WhatsApp">
                </a>
                <a href="https://www.facebook.com/aprendeconlearn?mibextid=ZbWKwL" target="_blank">
                    <img src="{{url_for('static', filename='img-learn-tutors/Facebook.png')}}" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/learntutors?igsh=c2puazZpdmhhOTkz" target="_blank">
                    <img src="{{url_for('static', filename='img-learn-tutors/Instagram.png')}}" alt="Instagram">
                </a>
                <a href="https://www.tiktok.com/@learn.tutors?_t=8o9ZUnLPU4k&_r=1" target="_blank">
                    <img src="{{url_for('static', filename='img-learn-tutors/TikTok.png')}}" alt="Instagram">
                </a>
            </figure>
        </div>

        <div class="small-width">
            <div class="images">
                <img id="image39" src="{{url_for('static', filename='img-learn-tutors/39.png')}}" alt="">
            </div>
        </div>
    </section>
</main>

<footer class="site-footer">
    <div class="politics">
        <p class="principal-letter" id="privacy-policy" data-section="body" data-value="privacy-policy">POLÍTICA DE
            PRIVACIDAD</p>
        <p class="principal-letter" id="terms-conditions" data-section="body" data-value="terms-conditions">TÉRMINOS Y
            CONDICIONES</p>
        <p class="principal-letter" id="data-treatment" data-section="body" data-value="data-treatment">TRATAMIENTO DE
            DATOS</p>
    </div>

    <div class="author">
        <p class="principal-letter" data-section="body" data-value="author-info">DESARROLLADO POR: TUTORIAS LEARN SAS |
            TODOS LOS DERECHOS RESERVADOS</p>
    </div>
</footer>

<dialog class="popup" id="popupPrivacyPolicy" data-section="body" data-value="popupPrivacyPolicy">
    <div class="popup-content">
        <div class="popup-header">
            <span class="close" id="close" onclick="closePopup('popupPrivacyPolicy')">&times;</span>
            <h2 data-section="body" data-value="popupPrivacyPolicy-title">Aviso de Privacidad</h2>
        </div>
        <div class="popup-body">
            <p data-section="body" data-value="popupPrivacyPolicy-content1">
                TUTORIAS LEARN SAS con NIT 9016288627 protege la privacidad tanto de sus clientes como de sus
                proveedores. El presente documento explica la política de cómo TUTORIAS LEARN SAS maneja la información
                que usted nos
                ha suministrado al adquirir nuestros servicios y/o al visitar nuestro sitio web.
                La adquisición de nuestros servicios constituye su aceptación de la presente Política de Privacidad.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content2">
                Si tiene dudas o preguntas acerca de esta Política de Privacidad, puede contactarnos al correo
                electrónico info@learn-tutors.com, o por WhatsApp al +573208324078.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content3">
                <strong>Información Almacenada por TUTORIAS LEARN SAS y Propósito:</strong>
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content4">
                TUTORIAS LEARN SAS almacena la información de contacto que los clientes nos suministran:
                <br>
                <br>• Nombres, apellidos y números de documentos de identificación.
                <br>• Números de teléfono.
                <br>• Dirección del domicilio y/o del sitio de trabajo.
                <br>• Correos electrónicos.
                <br>
                <br>Dicha información será empleada exclusivamente por TUTORIAS LEARN SAS con los siguientes fines:
                <br>
                <br>• Suministrar retroalimentación acerca del proceso de aprendizaje.
                <br>• Comunicar aspectos relacionados con el mercadeo y promociones de nuestros servicios.
                <br>• Desarrollar análisis estadístico conducente a la mejora del servicio.
                <br>• Mejorar el contenido académico y promocional.
                <br>• Efectuar actividades de cobranza de nuestro servicio y otras funciones administrativas
                exclusivamente relacionadas con su contrato con TUTORIAS LEARN SAS.
                <br>• Conocer la opinión de nuestros clientes acerca de nuestro servicio.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content5">
                Cuando una persona visita nuestra página web, TUTORIAS LEARN SAS tiene conocimiento de la siguiente
                información:
                <br>
                <br>• Las páginas de nuestro sitio web que ha visitado.
                <br>• La marca del navegador que usa.
                <br>• El sistema operativo que usa su computador.
                <br>• La ciudad desde donde nos visita.
                <br>• La dirección IP que su proveedor de internet le ha asignado en ese momento.
                <br>• El nombre del proveedor de su servicio de internet.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content6">
                La información que TUTORIAS LEARN SAS toma de los visitantes del sitio web es empleada para crear
                informes y medir el desempeño de dicho sitio y en ningún momento adquiere información que permita
                contactar al
                visitante.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content7">
                <strong> Preferencias en cuanto a ser contactado por TUTORIAS LEARN SAS empleando su
                    información</strong>
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content8">
                Las preferencias de privacidad básicas, las cuales usted acepta cuando adquiere nuestros servicios nos
                permiten guardar la información estipulada en el numeral I y hacer uso de dicha información como lo
                señalado en el mismo numeral.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content9">
                Sin embargo, usted podría optar por no recibir comunicaciones que nosotros le enviamos basada en la
                información de su cuenta. Si usted así lo decide, no continuaremos enviándole información acerca de
                ningún evento promocional venidero, mejoras o promociones acerca de TUTORIAS LEARN SAS.
                No obstante, TUTORIAS LEARN SAS se reserva el derecho de guardar y utilizar la información de su cuenta
                con propósitos legítimos de su relación comercial con la empresa y efectuar actividades de cobranza por
                nuestro servicio y otras funciones administrativas exclusivamente relacionadas con su contrato con
                TUTORIAS
                LEARN SAS.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content10">
                <strong>cuánto tiempo mantenemos Información del Cliente</strong>
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content11">
                Mantenemos la Información del Cliente mientras mantengamos una relación de negocios con usted. Una vez
                la información no sea necesaria para nuestros dichos propósitos, la destruimos a menos que exista una
                solicitud extraordinaria para preservarla.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content12">
                <strong>Cómo protegemos la seguridad de su información</strong>
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content13">
                Tomamos las medidas necesarias para proteger su información mediante la utilización de tecnologías de
                seguridad y procedimientos que limitan el acceso a nuestras bases de datos.
                Ahora bien, ningún sistema es totalmente seguro ni totalmente a prueba del hurto de información de forma
                que nos es imposible ofrecer la completa garantía de la seguridad de su información.
            </p>
            <p data-section="body" data-value="popupPrivacyPolicy-content14">
                TUTORIAS LEARN SAS se reserva el derecho de modificar, rectificar o enmendar este documento en cualquier
                momento. TUTORIAS LEARN SAS notificará de cualquier cambio significativo en esta Política de Privacidad
                por medio de un anuncio en la página principal de su sitio web.
            </p>
        </div>
    </div>
</dialog>

<dialog class="popup" id="popupTermsConditions" data-section="body" data-value="popupTermsConditions">
    <div class="popup-content">
        <div class="popup-header">
            <span class="close" onclick="closePopup('popupTermsConditions')">&times;</span>
            <h2 data-section="body" data-value="popupTermsConditions-title">Términos y Condiciones</h2>
        </div>
        <div class="popup-body">
            <p data-section="body" data-value="popupTermsConditions-content1">
                TUTORIAS LEARN SAS con NIT 9016288627 es una sociedad constituida bajo las leyes colombianas.
                El presente documento explica los Términos y Condiciones bajo los cuales TUTORIAS LEARN SAS ofrece
                sus servicios. Al utilizar nuestros servicios, el cliente acepta estos Términos y Condiciones.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content2">
                Si tiene dudas o preguntas acerca de estos Términos y Condiciones, puede contactarnos al correo
                electrónico info@learn-tutors.com, o por WhatsApp al +573208324078.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content3">
                <strong>Servicios Ofrecidos por TUTORIAS LEARN SAS:</strong>
            </p>
            <p data-section="body" data-value="popupTermsConditions-content4">
                TUTORIAS LEARN SAS ofrece servicios de tutoría y acompañamiento educativo a través de diferentes
                plataformas y medios. La oferta de servicios puede variar y está sujeta a cambios sin previo aviso.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content5">
                <strong>Obligaciones del Cliente:</strong>
            </p>
            <p data-section="body" data-value="popupTermsConditions-content6">
                El cliente se compromete a proporcionar información veraz y completa al adquirir nuestros servicios.
                Asimismo, se compromete a utilizar los servicios de manera responsable y respetuosa, siguiendo las
                indicaciones y normas establecidas por TUTORIAS LEARN SAS.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content7">
                <strong>Confidencialidad:</strong>
            </p>
            <p data-section="body" data-value="popupTermsConditions-content8">
                TUTORIAS LEARN SAS se compromete a proteger la confidencialidad de la información proporcionada por el
                cliente, conforme a lo establecido en nuestra Política de Privacidad.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content9">
                <strong>Modificaciones a los Términos y Condiciones:</strong>
            </p>
            <p data-section="body" data-value="popupTermsConditions-content10">
                TUTORIAS LEARN SAS se reserva el derecho de modificar, rectificar o enmendar este documento en cualquier
                momento. TUTORIAS LEARN SAS notificará de cualquier cambio significativo en estos Términos y Condiciones
                por medio de un anuncio en la página principal de su sitio web.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content11">
                <strong>Limitación de Responsabilidad:</strong>
            </p>
            <p data-section="body" data-value="popupTermsConditions-content12">
                TUTORIAS LEARN SAS no será responsable por daños directos, indirectos, incidentales, especiales,
                consecuentes o punitivos que resulten del uso de nuestros servicios, a menos que dichos daños sean el
                resultado de
                nuestra negligencia o dolo.
            </p>
            <p data-section="body" data-value="popupTermsConditions-content13">
                Estos Términos y Condiciones se rigen por las leyes de la República de Colombia. Cualquier controversia
                que surja en relación con estos Términos y Condiciones será resuelta por los tribunales competentes de
                la
                República de Colombia.
            </p>
        </div>
    </div>
</dialog>

<dialog class="popup" id="popupDataTreatment" data-section="body" data-value="popupDataTreatment">
    <div class="popup-content">
        <div class="popup-header">
            <span class="close" onclick="closePopup('popupDataTreatment')">&times;</span>
            <h2 data-section="body" data-value="popupDataTreatment-title">Tratamiento de Datos</h2>
        </div>
        <div class="popup-body">
            <p data-section="body" data-value="popupDataTreatment-content1">
                TUTORIAS LEARN SAS con NIT 9016288627 protege la privacidad tanto de sus clientes como de sus
                proveedores. El presente documento explica el tratamiento de datos que TUTORIAS LEARN SAS realiza con la
                información
                que usted nos ha suministrado al adquirir nuestros servicios y/o al visitar nuestro sitio web.
                La adquisición de nuestros servicios constituye su aceptación de este tratamiento de datos.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content2">
                Si tiene dudas o preguntas acerca de este tratamiento de datos, puede contactarnos al correo
                electrónico info@learn-tutors.com, o por WhatsApp al +573208324078.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content3">
                <strong>Información Almacenada por TUTORIAS LEARN SAS y Propósito:</strong>
            </p>
            <p data-section="body" data-value="popupDataTreatment-content4">
                TUTORIAS LEARN SAS almacena la información de contacto que los clientes nos suministran:
                <br>
                <br>• Nombres, apellidos y números de documentos de identificación.
                <br>• Números de teléfono.
                <br>• Dirección del domicilio y/o del sitio de trabajo.
                <br>• Correos electrónicos.
                <br>
                <br>Dicha información será empleada exclusivamente por TUTORIAS LEARN SAS con los siguientes fines:
                <br>
                <br>• Suministrar retroalimentación acerca del proceso de aprendizaje.
                <br>• Comunicar aspectos relacionados con el mercadeo y promociones de nuestros servicios.
                <br>• Desarrollar análisis estadístico conducente a la mejora del servicio.
                <br>• Mejorar el contenido académico y promocional.
                <br>• Efectuar actividades de cobranza de nuestro servicio y otras funciones administrativas
                exclusivamente relacionadas con su contrato con TUTORIAS LEARN SAS.
                <br>• Conocer la opinión de nuestros clientes acerca de nuestro servicio.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content5">
                Cuando una persona visita nuestra página web, TUTORIAS LEARN SAS tiene conocimiento de la siguiente
                información:
                <br>
                <br>• Las páginas de nuestro sitio web que ha visitado.
                <br>• La marca del navegador que usa.
                <br>• El sistema operativo que usa su computador.
                <br>• La ciudad desde donde nos visita.
                <br>• La dirección IP que su proveedor de internet le ha asignado en ese momento.
                <br>• El nombre del proveedor de su servicio de internet.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content6">
                La información que TUTORIAS LEARN SAS toma de los visitantes del sitio web es empleada para crear
                informes y medir el desempeño de dicho sitio y en ningún momento adquiere información que permita
                contactar al
                visitante.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content7">
                <strong> Preferencias en cuanto a ser contactado por TUTORIAS LEARN SAS empleando su
                    información</strong>
            </p>
            <p data-section="body" data-value="popupDataTreatment-content8">
                Las preferencias de privacidad básicas, las cuales usted acepta cuando adquiere nuestros servicios nos
                permiten guardar la información estipulada en el numeral I y hacer uso de dicha información como lo
                señalado en el mismo numeral.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content9">
                Sin embargo, usted podría optar por no recibir comunicaciones que nosotros le enviamos basada en la
                información de su cuenta. Si usted así lo decide, no continuaremos enviándole información acerca de
                ningún evento promocional venidero, mejoras o promociones acerca de TUTORIAS LEARN SAS.
                No obstante, TUTORIAS LEARN SAS se reserva el derecho de guardar y utilizar la información de su cuenta
                con propósitos legítimos de su relación comercial con la empresa y efectuar actividades de cobranza por
                nuestro servicio y otras funciones administrativas exclusivamente relacionadas con su contrato con
                TUTORIAS
                LEARN SAS.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content10">
                <strong>cuánto tiempo mantenemos su información</strong>
            </p>
            <p data-section="body" data-value="popupDataTreatment-content11">
                La información de su cuenta será guardada durante el término de su contrato con nosotros y
                permanentemente
                después de su vencimiento. No obstante, usted puede solicitar que eliminemos su información de contacto
                para que no continúe recibiendo notificaciones de nuestra parte.
            </p>
            <p data-section="body" data-value="popupDataTreatment-content12">
                <strong>cambios a este tratamiento de datos</strong>
            </p>
            <p data-section="body" data-value="popupDataTreatment-content13">
                TUTORIAS LEARN SAS se reserva el derecho de modificar, rectificar o enmendar este documento en cualquier
                momento. TUTORIAS LEARN SAS notificará de cualquier cambio significativo en este Tratamiento de Datos
                por medio de un anuncio en la página principal de su sitio web.
            </p>
        </div>
    </div>
</dialog>
{%endblock%}